.dropdown {
    width: 100%;
}


.carousel-item {
    height: 400px;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    flex-direction: column;
    display: flex;
}

.carousel-caption {
    text-size-adjust: fixed;
}

#firstjumbo {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    color: white;
    text-shadow: 4px 4px 4px #000000;
}

.btn-info {
    padding-bottom: 10%;
}

.container {
    width: 100%;
}

.card-header {
    background-color: darkred;
}

#secondjumbo {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1531967289949-52edc23fe94f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1789&q=80);
    background-size: cover;
    color: white;
    text-shadow: 4px 4px 4px #000000;
}

#demo {
    text-shadow: 2px 2px 8px #000000;
    color: white;
    text-align: center;
}
